[Unit]
Description=Bluetooth Pairing agent
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=bt-agent -c NoInputNoOutput -p bt-pin
Restart=on-failure
RestartSec=5s
KillSignal=SIGUSR1

[Install]
WantedBy=default.target
