[Unit]
Description=Bluetooth speaker agent

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=python bt-pair-agent/bt-pair-agent.py

[Install]
WantedBy=default.target
